<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <title>Home</title>
</head>
<body>
    <h1>SEARCH ANYTHING HERE </h1>

    <form action="/resultado" method="get">
        <input 
        type="text"
        name="search"
        placeholder="DIGITE ALGO AQUI">

        <button>PESQUISAR</button>
    </form>

    <form action="/quemsomos" method="get">
        <button>QUEM SOMOS</button>
    </form>


    <form action="/contato" method="get">
        <button>CONTATO</button>
    </form>


    <form action="/privacidade" method="get">
        <a href="policita de privacidade"></a>
    </form>

    
<footer><a href="">Politica de Privacidade</a></footer>
</body>

</html>
