<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
    
    
    <title>Document</title>
</head>
<center>
<body>
    <h1>MAIS UM DIA DE CONQUISTA</h1>
    <p>Hoje foi um dia muito legal porque todas as pessoas que conhecemos iniciaram seus trabalhos</p>
    <input type="digite algo aqui" name="" id="">

    <table>
        Tabela criada
        <i>linha 1</i>
    </table>
</body>
</html>
</center>