<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static',filename='contatos.css')}}">
    <title>Contatos</title>
</head>
<body>
    <h1>VOCE PESQUISOU</h1>
    
    <h1>{{search}}</h1>
    
    <form action="/">
        <button>VOLTE PARA A HOME</button>
    </form>

                    {%  for c in search %}

<h1>{{c}}</h1>

                    {%  endfor  %}

                {%  for c in search %}
                {%  if c in "aieiou" %}

<h1>{{c}}</h1>

                {%  endif   %}
                {%  endfor  %}
</body>
</html>
